* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html,
body {
	height: 100%;
	min-width: 320px;
}
body {
	font-family: 'Roboto';
	text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: 'Roboto';
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
	background: transparent;
	font: inherit;
	color: inherit;
	-webkit-appearance: none !important;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
	-webkit-appearance: none !important;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

.container {
	max-width: 1230px;
	padding: 60px 15px;
	margin: 0 auto;
	text-align: center;
}

.title {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 48px;
}

.keyboard {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 5px 0;
	background: #496c86;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
	user-select: none;
	transition: bottom 0.4s;
	height: 100px;
}

.keyboard-hidden {
	bottom: -100%;
}

.keyboard__keys {
	text-align: center;
}
